/* CSS стилі для зменшення форми */
.form-control-sm {
    padding: 0.25rem 0.5rem; /* Зменшити внутрішні відступи елементу вводу */
    font-size: 0.875rem; /* Зменшити розмір шрифту */
  }
  
  /* CSS стилі для вирівнювання форми посередині
  .container {
    max-width: 700px; /* Фіксована ширина контейнера */
    /* margin: 0 auto; /* Вирівнювання по горизонталі (посередині) */

  /* Відступ знизу заголовка */
h2 {
  margin-bottom: 20px;
  
}


/* Обмеження ширини форми */
.form-container {
  background-color: #ffffff;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.form {
  border: 2px solid #ccc;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto 0; /* Збільшений верхній відступ для форми */
}

body {
  background-color:  #e8e7e7;; /* Сірий колір фону */
  /* Інші стилі для body */
}


